snippet ifmain "Checks if script was called from cmdline"
  if [[ "${BASH_SOURCE[0]}" == "\${0}" ]]; then
      main
  fi

snippet tpl "Basic shell script template"
  #!/usr/bin/env bash
  set -e

  main() {

  }

  if [[ "${BASH_SOURCE[0]}" == "\${0}" ]]; then
      main
  fi

snippet btn "i3Blocks Button parsing"
	case "\${BLOCK_BUTTON}" in
			"\${LEFT_CLICK}")
					;;
			"\${RIGHT_CLICK}")
					;;
			"\${SCROLL_UP}")
					;;
			"\${SCROLL_DOWN}")
					;;
	esac
